{% extends "base.html" %}
{% block content %}

    <div class="container">
       
    <div class="row mt-5">
        <div class="card mr-3 shadow" style="width: 18rem;">
            <img src="https://cdn-icons-png.flaticon.com/512/556/556261.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Writeup CTF</h5>
              <p class="card-text">Solutions de différents ctf<br>Root-me, FCSC, 404CTF,...</p>
              <a href="#" class="btn btn-primary">Voir le contenu</a>
            </div>
          </div>
          <div class="card mr-3 shadow" style="width: 18rem;">
            <img src="https://media.istockphoto.com/id/1303877287/fr/vectoriel/liste-de-contr%C3%B4le-papier-et-pictogramme-plat-au-crayon.jpg?s=612x612&w=0&k=20&c=SIl78tq5-Ao4AZGw6C5dryrXj3XSiuctK4fHBBciuDI=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Projets</h5>
              <p class="card-text">Sauvegarde de différents projets<br>Cybersécurité, Web, Systèmes...</p>
              <a href="#" class="btn btn-primary">Voir le contenu</a>
            </div>
          </div>
          <div class="card mr-3 shadow" style="width: 18rem;">
            <img src="https://cdn-icons-png.flaticon.com/512/3767/3767084.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ressources</h5>
              <p class="card-text">Contenu en tout genre nécéssaire ou utiles aux projets (ou non).</p>
              <a href="#" class="btn btn-primary">Voir le contenu</a>
            </div>
          </div>
          <div class="card mr-3 shadow mt-4" style="width: 18rem;">
            <img src="https://img.pixers.pics/pho_wat(s3:700/FO/62/79/88/64/700_FO62798864_e7dbef35b31953245cf60235de0aaf0f.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/posters-vector-online-and-mobile-game-icons-and-signs.jpg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mini-jeux</h5>
              <p class="card-text">Jeux simples en tout genre pour m'entrainer en python.</p>
              <a href="#" class="btn btn-primary">Voir le contenu</a>
            </div>
          </div>
    </div>
</div>
{% endblock %}